<!DOCTYPE html>
<html>
  <header>
    <title>Users and Interests</title>
  </header>

  <body>
    <%= yield %>

    <h3>Users Info</h3>
    <p>There are <%= count_users %> users with a total of <%= count_interests %> interests.</p>
  </body>
</html>
